.header {
  position: fixed;
  /* width: calc(100% - 70px); */
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  /* padding-left: 70px; */
  color: white;
  background-color: #120873;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 55;
  display: flex;
  justify-content: space-between;
}

.link {
  padding-left: 70px;
  text-decoration: unset;
  color: white;
  font-weight: 800;
  font-size: 24px;
}

.appear {
  transform: translateX(-100%);
}
.appearActive {
  transform: translateX(0);
  transition: transform 500ms linear;
}
